:root {
  --imgsize: 48px;
  --wrappersize: 350px;
}

.body,
html {
  background-color: #232323;
  height: auto;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  padding:0;
  margin:0;
}

header{
    display:none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin:10px 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: var(--wrappersize);
  margin: 20px auto;
}
.wrapper .grid {
  display: grid;
  gap: 5px;
  grid-template-columns: auto auto auto auto auto auto;
}
.grid div {
  background-repeat: no-repeat;
  background-size: cover;
  height: var(--imgsize);
  width: var(--imgsize);
  cursor: pointer;
  transition: 100ms;
}

.grid div:hover {
  transform: scale(1.1);
  transition: 100ms;
}

.woth-tracker {
    display: flex;
    flex-direction: row;
    gap:0 5px;
    padding:20px 0;
}

.woth-tracker > div {
  display:flex;
  flex-direction: column;
}

.woth-tracker > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.woth-tracker input {
  height: 30px;
  min-width:30px;
  max-width: 160px;
  margin: 10px 0;
}
.woth-tracker label {
  color: white;
  font-weight: bold;
  word-wrap: break-word;
  width: calc(var(--wrappersize) / 2 - 40px);
}

.grey {
  filter:grayscale(0.91);

}

.grid p {
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-shadow: black 0 0 3px;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  line-height:var(--imgsize)
}

.skull-count{

    font-size: 23px !important;
    text-align: start !important;
    line-height: initial !important;
    
}

footer{
    position: fixed;
    color: #bbb;
    font-size: 12px;
    bottom:10px;
    width:100%;
    text-align: center;
}

@media screen and (min-width:700px){

    header{display: block;}

    .wrapper{
        flex-direction: row;
        align-items:flex-start;
        justify-content: space-evenly;
        width:auto;
        max-width:1024px;
    }

}